body{
    margin: 0px;
}

.parent{
    height: 500px;
    width: 500px;
    background-color: aqua;
    position: relative;
}

.child{
    height: 200px;
    width: 200px;
    background-color: red;
    position: absolute;
    bottom: 0px;
    right: 0px;
}