/* h1{
    color: blue !important;
    font-size: 10px;
} */
/* p{
    color: red;
}
.blue-color{
    color: purple;
    font-size: 100px;
}

#heading{
    color: brown;
} */

/* * {
    color: red;
}

h1 , p {
    color: blue;
} */
/* p > a {
    color: red;
} */
/* p a {
    color: red;
} */

p + a{
    color: red; 
}